四則演算

In [1]:
1.08*100

108.0

In [2]:
1800/100

18.0

In [3]:
10%5

0

In [4]:
10%8

2

In [6]:
##べき乗
2**3

8

変数

In [7]:
a = 3

In [8]:
a

3

In [9]:
b=5

In [10]:
b

5

In [12]:
b=20

In [13]:
b

20

In [14]:
price = 100

In [15]:
price

100

In [16]:
tax=0.1

In [17]:
price*tax

10.0

In [18]:
1name=1

SyntaxError: invalid syntax (<ipython-input-18-ead6f8e1cb4f>, line 1)

In [19]:
name=1

In [20]:
name="今西"

In [21]:
name

'今西'



比較演算子

In [22]:
1<3

True

In [23]:
b=1.01
b

1.01

In [24]:
type(b)

float

In [25]:
name="今西"
name

'今西'

In [26]:
type(name)

str

In [27]:
d=[10,20,30]
d

[10, 20, 30]

In [28]:
type(d)

list

関数

In [29]:
def say_hello():
    print("みなさんこんにちは")

In [32]:
say_hello()

みなさんこんにちは

引数

In [34]:
def say_hello2(name):
    print(f"{name}さん、こんにちは")

In [36]:
say_hello2(name)

今西さん、こんにちは

In [37]:
say_hello2(name="aaa")

aaaさん、こんにちは

返り値

In [45]:
def calc_square(side):
    return side*side

In [46]:
result = calc_square(side=10)

In [47]:
result

100

In [58]:
def calc_tri(bottom=1,hight=1):
    return bottom*hight/2

In [49]:
result = calc_tri(bottom=10,hight=10)

In [50]:
result

50.0

In [51]:
bottom=1000
hight=1

In [52]:
result

50.0

In [54]:
result=calc_tri(bottom,hight)

In [55]:
result

500.0

In [56]:
calc_tri(bottom,hight)

500.0

In [57]:
calc_tri(10,10)

50.0

In [59]:
calc_tri()

0.5

クラス

In [166]:
#クラスは頭大文字
class Person:
    #初期設定
    def __init__(self, name, nationality, age):
        self.name = name
        self.nationality = nationality
        self.age = age
        
    def __call__(self, name):
        print(f"call関数：{name}さん、こんにちは。私は{self.name}です")
        
    def say_hello(self, name):
        print(f"{name}さん、こんにちは。私は{self.name}です")

In [167]:
#インスタンス化
imanishi = Person(name="今西",nationality="日本",age=26)

In [168]:
mike = Person(name="maiku",nationality="amerika",age=23)

In [169]:
imanishi.say_hello(name='sato')

satoさん、こんにちは。私は今西です

In [180]:
mike.say_hello(name)

aaaaaaaaaaaaaさん、こんにちは。私はmaikuです

In [181]:
imanishi(name)

call関数：aaaaaaaaaaaaaさん、こんにちは。私は今西です

In [173]:
name='aaaaaaaaaaaaa'

ライブラリ

In [1]:
import datetime

In [5]:
today = datetime.date.today()

In [4]:
datetime.datetime.now()

datetime.datetime(2021, 10, 8, 7, 55, 34, 307549)

In [6]:
today

datetime.date(2021, 10, 8)

In [7]:
today.month

10

In [9]:
today - datetime.timedelta(days=1)

datetime.date(2021, 10, 7)

In [13]:
print(today)

2021-10-08

In [17]:
today.strftime("%Y年%m月%d日")

'2021年10月08日'

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])

In [3]:
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [8]:
df = pd.read_csv('D:\OneDrive\98_python\google_Colaboratory\sample_data\california_housing_test.csv')

In [9]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [12]:
df.tail(3)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [16]:
df.iloc[: , :3].head()

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0
4    -119.67     36.33                19.0

In [17]:
df["housing_median_age"] >30

0       False
1        True
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998     True
2999     True
Name: housing_median_age, Length: 3000, dtype: bool

In [18]:
df[df["housing_median_age"] >30]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
5,-119.56,36.51,37.0,1018.0,213.0,663.0,204.0,1.6635,67000.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
9,-118.02,34.08,31.0,2402.0,632.0,2830.0,603.0,2.3333,164200.0
10,-118.24,33.98,45.0,972.0,249.0,1288.0,261.0,2.2054,125000.0
...,...,...,...,...,...,...,...,...,...
2992,-122.33,37.39,52.0,573.0,102.0,232.0,92.0,6.2263,500001.0
2993,-117.91,33.60,37.0,2088.0,510.0,673.0,390.0,5.1048,500001.0
2994,-117.93,33.86,35.0,931.0,181.0,516.0,174.0,5.5867,182500.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [19]:
df.shape

(3000, 9)

In [20]:
df.mean()

longitude               -119.589200
latitude                  35.635390
housing_median_age        28.845333
total_rooms             2599.578667
total_bedrooms           529.950667
population              1402.798667
households               489.912000
median_income              3.807272
median_house_value    205846.275000
dtype: float64

In [21]:
df.std()

longitude                  1.994936
latitude                   2.129670
housing_median_age        12.555396
total_rooms             2155.593332
total_bedrooms           415.654368
population              1030.543012
households               365.422710
median_income              1.854512
median_house_value    113119.687470
dtype: float64

In [22]:
df.max()

longitude               -114.4900
latitude                  41.9200
housing_median_age        52.0000
total_rooms            30450.0000
total_bedrooms          5419.0000
population             11935.0000
households              4930.0000
median_income             15.0001
median_house_value    500001.0000
dtype: float64

In [23]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [11]:
name = "kat"
place = "totigi"
print ("私は",name,"です。",place,"出身です。")

私は kat です。 totigi 出身です。

In [14]:
"私は{}です。出身は{}です。".format(name,place)

'私はkatです。出身はtotigiです。'

In [15]:
f"私は{name}です。出身は{place}です。"

'私はkatです。出身はtotigiです。'

fストリングス　{}内に変数直接記入できる

## 文字列を句読点で改行
エスケープシーケンス\
"\n"で改行

In [17]:
print("いつもの帰り道とは違うルートで帰ってみようかな。\n迷子にならないか心配だけど。")

いつもの帰り道とは違うルートで帰ってみようかな。
迷子にならないか心配だけど。

In [20]:
print("%d,%x,%f"%(16,16,16))

16,10,16.000000

In [23]:
"hello".upper()

'HELLO'

In [24]:
"WORLD".lower()

'world'

### 文字列の分割

In [25]:
message="こんにちは。\n私はAIのロボットです。"
print(message)

こんにちは。
私はAIのロボットです。

In [30]:
messages = message.split("\n")
messages

['こんにちは。', '私はAIのロボットです。']

#### 文字列の結合

In [32]:
"xxx".join(messages)

'こんにちは。xxx私はAIのロボットです。'

#### 空白除去 .strip()

In [66]:
message="　いつも個々のケーキはおいしい。　"
print(message.strip())

いつも個々のケーキはおいしい。

#### 10.文字列の置換 .replace

In [69]:
message="今日は晴れですね。".replace("晴れ","ame")
message

'今日はameですね。'

#### 11.文字列検索

In [1]:
message="今日はとても夜空がきれいだ"
message.find("夜空")

6

#### 12.型変換
文字列型に変換

In [3]:
x=1
str(x)

'1'

#### 13.包含関係
文字列が含まれているか

In [4]:
kensaku="sba"
mojiretsu="gasba"
kensaku in mojiretsu

True

In [5]:
a , b = "sba" , "gasba"
a in b

True

# リスト
#### 14.特定の値を抽出

In [10]:
numbers = [0,3,8,-4,9,1]
numbers[1]

3

In [11]:
numbers[-1]

1

In [12]:
numbers.append(2)
numbers

[0, 3, 8, -4, 9, 1, 2]

#### 15.特定の値を挿入
.insert(場所,数値)

In [14]:
numbers.insert(0,5)

In [15]:
numbers

[5, 0, 3, 8, -4, 9, 1, 2]

In [16]:
numbers.insert(-2,-3)

In [17]:
numbers

[5, 0, 3, 8, -4, 9, -3, 1, 2]

#### 16.特定の値を削除
特定の値を削除する場合：remove\
場所を指定して削除：pop

In [18]:
numbers.remove(5)
numbers

[0, 3, 8, -4, 9, -3, 1, 2]

In [19]:
numbers.pop(-3)

-3

In [20]:
numbers

[0, 3, 8, -4, 9, 1, 2]

#### 17.フィルター

In [21]:
def isEven(number):
    if number % 2 == 0:
        print(f"This number, {number} is even!")
        return True
    else:
        print(f'This number, {number} is odd!')
        return False

In [22]:
isEven(2)

This number, 2 is even!

True

In [23]:
list(filter(isEven, numbers))

This number, 0 is even!
This number, 3 is odd!
This number, 8 is even!
This number, -4 is even!
This number, 9 is odd!
This number, 1 is odd!
This number, 2 is even!

[0, 8, -4, 2]

#### 18.index

In [24]:
numbers.index(-4)

3

#### 19.ソート

In [25]:
numbers.sort()
numbers

[-4, 0, 1, 2, 3, 8, 9]

In [26]:
numbers.sort(reverse=True)
numbers

[9, 8, 3, 2, 1, 0, -4]

# 辞書
#### 20.要素の削除